/* Some button basic styles because i don't want BS in this demo */
.btn {
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: #3498db;
    text-decoration: none;
    margin: 5px 5px;
    border: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  .modal-header {
    border-bottom:1px solid #cecece;
  }

  .modal-footer,
.modal-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  display: flex;
  height: 56px;
  padding: 0 16px;
}

.modal-footer {
    border-top:1px solid #cecece;
  }